<div class="container">
    <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
    <!-- 
    <div class="row">
        <div class="viewport-container-header">
            <span class="h2 primary-color viewport-container-header-text">Hey {{currentUser.username}} welcome in THE chat room!</span>
        </div>
        <cdk-virtual-scroll-viewport itemSize="20" class="virtual-scroll-viewport container-border">
            <div *cdkVirtualFor="let item of messageHistory" class="message-item">{{item.text}}</div>
        </cdk-virtual-scroll-viewport>
    </div>-->
    <div class="center-container">
        <div class="text-left">
            <span class="h2 primary-color viewport-container-header-text text-left">Hey {{currentUser.username}}!</span>
        </div>
        <cdk-virtual-scroll-viewport itemSize="20" class="virtual-scroll-viewport container-border">
            <div *cdkVirtualFor="let item of messageHistory" class="message-item">{{item.text}}</div>
        </cdk-virtual-scroll-viewport>
        <div>
            
        </div>
    </div>
</div>